html{
	padding:0px;
	margin:0px;
	height:100%;
	overflow:hidden;
}
body{
	padding:0px;
	margin:0px;
	height:100%;
	height:300px;
	background-image:url('../images/backtop.jpg');
	background-repeat:no-repeat;
	background-position:center top;
	background-color:#2b2616;
	font-family:"Trebuchet MS";
}
.load{
	position:fixed;
	display:block;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	
	background-repeat:no-repeat;
	
	background-color:#000;
	z-index:10;
}
.load > div{
	height:50%;
	width:100%;
	background-repeat:no-repeat;
}
.load .loadtop{
	background-image:url('../images/loading.png');
	background-position:center bottom;

}
.load .loadbottom{
	//background-image:url('../images/ajax-loader.gif');
	background-image:url('../images/15.gif');
	background-position:center 20px;
}
.header{
	height:30px;
}
.content{
	width:980px;
	margin:0px auto;
	
}
.headflash{
	width:980px;
	margin:0px auto;
}
.logo{
	width:480px;
	height:100px;
	margin:35px auto 0px auto;
	background-image:url('../images/index_logo.png');
	background-repeat:no-repeat;
	background-position:center top;
}
.contenttop{
	height:300px;
}
.content2{
	opacity:0;
	-webkit-transition:opacity 4s;
	-moz-transition:opacity 4s;
	-o-transition:opacity 4s;
}
.contentbottom{
	position:absolute;
	top:170px;
	display:block;
	width:100%;
	
	
}
.index{
	background-repeat:no-repeat;
	background-position:center top;
}
.index3{
	background-image:url('../images/index_3.png');
	width:450px;
	height:189px;
	position:relative;
	left:265px;
}
.index4{
	background-image:url('../images/index_4.png');
	height:90px;
	background-repeat:repeat-x;
	position: relative;
	top: -80px;
}
.inferris{
	height:156px;
	width:144px;
	position:relative;
	left:306px;
}
.index5{
	background-image:url('../images/index_5.png');
	height:142px;
	width:107px;
	position: absolute;
	top: 100px;
	margin-left: 40px;
}
.index6{
	background-image:url('../images/index_6.png');
	height:105px;
	width:109px;
	position: absolute;
	top: 190px;
	margin-left: 100px;
}
.index10{
	background-image:url('../images/index_10.png');
	height:208px;
	width:278px;
	position: absolute;
	top: 80px;
	margin-left: 350px;
	background-position:0px 0px;
	cursor:pointer;
}
.index10:hover{
	background-position:0px -208px;
}

.index11{
	background-image:url('../images/index_11.png');
	height:71px;
	width:88px;
	position: absolute;
	top: 145px;
	margin-left: 657px;
}
.crowd1{
	background-image:url('../images/crowd_1.png');
	height:86px;
	width:200px;
	position: absolute;
	top: 182px;
	margin-left: 565px;
}
.crowd2{
	background-image:url('../images/crowd_2.png');
	height:142px;
	width:305px;
	position: absolute;
	top: 250px;
	margin-left: 70px;
}
.crowd3{
	background-image:url('../images/crowd_2.png');
	height:142px;
	width:305px;
	position: absolute;
	top: 275px;
	margin-left: 604px;
}
.crowd4{
	background-image:url('../images/crowd_4.png');
	height:89px;
	width:204px;
	position: absolute;
	top: 220px;
	margin-left: 330px;
}
.crowd5{
	background-image:url('../images/crowd_5.png');
	height:54px;
	width:47px;
	position: absolute;
	top: 150px;
	margin-left: 162px;
}
.crowd6{
	background-image:url('../images/crowd_6.png');
	height:77px;
	width:22px;
	position: absolute;
	top: 215px;
	margin-left: 65px;
}

.crowd7{
	background-image:url('../images/crowd_7.png');
	height:56px;
	width:42px;
	position: absolute;
	top: 140px;
	margin-left: 825px;
}


.index7{
	background-image:url('../images/index_7.png');
	height:111px;
	width:137px;
	position: absolute;
	top: 185px;
	margin-left: 209px;
}
.index8{
	background-image:url('../images/index_8.png');
	height: 85px;
	width: 92px;
	position: absolute;
	top: 137px;
	margin-left: 221px;
}

.index9{
	background-image:url('../images/index_9.png');
	height:224px;
	width:221px;
	position: absolute;
	top: 110px;
	margin-left: 690px;
	}
.index12{
	background-image:url('../images/index_12.png');
	height:127px;
	width:42px;
	position: absolute;
	top: 210px;
	margin-left: 422px;
}
.index13{
	background-image:url('../images/index_13.png');
	height:95px;
	width:66px;
	position: absolute;
	top: 260px;
	margin-left: 540px;
}

.indexwos{
	background-image: url('../images/index_wos.png');
	height: 300px;
	width: 371px;
	position: absolute;
	top: 210px;
	margin-left: 28px;
	background-position: 0px 0px;
	cursor: pointer;
}
.indexwos:hover{
	background-position:0px -300px;
}
.indexmelo{
	background-image:url('../images/index_melo.png');
	height:278px;
	width:338px;
	position: absolute;
	top: 230px;
	margin-left: 585px;
	background-position:0px 0px;
	cursor:pointer;

}
.indexmelo:hover{
	background-position:0px -278px;
}
.index14{
	background-image:url('../images/index_14.png');
	width:193px;
	height:145px;
	position: absolute;
	top: 343px;
	margin-left: 407px;
	cursor:pointer;
}
.footer{
	background-color:#000;
	height:35px;
	width:100%;
	left:0px;
	bottom:0px;
	position:fixed;
	font-size:9pt;
	color:#C0C0C0;
	display:none;
}
.fbicon{
	width: 26px;
	
}
.popup{
	position:fixed;
	display:block;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
	background-image:url('../images/tp_black.png');
	z-index:10;
	display:none;

}
.popup .popupc{
	background-color:#000;
	padding:10px;
	border-radius:5px;
	width:700px;
	margin:50px auto 0px auto;
	box-shadow:0px 0px 3px #fff;
}
.popup .popupc .popupb{
	min-height:200px;
	background-image:url('../images/popup.jpg');
	background-position:center center;
	border-radius:5px;
}

.greyclose{
	float: right;
	border: 0px;
	margin: 10px 10px 0px 0px;
	cursor: pointer;
	width: 18px;
	height: 18px;
	display: inline-block;
	background-image: url('../images/assets.png');
	background-position: -42px -4px;
}
.popup h2{
	padding:20px 0px 0px 20px;
	margin-top: 0px;
}
.popup div.popcont{
	padding:0px 20px 20px 20px;
	text-align:justify;
}
